<div class="col-md-12">
    <div class="box">
        <h1>Products</h1>
    </div>
    <div class="row products">
        <div *ngFor='let i of demoNumber' class="col-md-3 col-sm-4">
            <div class="product">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="#">
                                <img src="assets/images/product1.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <img src="assets/images/product1.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3><a href="#">Dummy Product name</a></h3>
                    <p class="price">$143.00</p>
                    <p class="buttons">
                        <a href="#" class="btn btn-default">View detail</a>
                        <a routerLink="/cart" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </p>
                </div>
                <!-- /.text -->
            </div>
            <!-- /.product -->
        </div>
        
    </div>
    <!-- /.products -->

    <div class="pages">

        <p class="loadMore">
            <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
        </p>

        <ul class="pagination">
            <li><a href="#">«</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">»</a>
            </li>
        </ul>
    </div>


</div>
<!-- /.col-md-12 -->