<div class="row">
  <div class="col-md-12">  
      <ul class="breadcrumb">
          <li><a href="#">Home</a>
          </li>
          <li>Sign in</li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-centered">
    <div class="box">
        <h1>Login</h1>
        <hr>
        <form novalidate [formGroup]="userLogin" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Username/Email</label>
                <input type="text" class="form-control" id="email" formControlName="email">
                <app-field-error-display 
                    [displayError]="isFieldValid('email')" 
                    errorMsg="Please enter your Username/Email">
                </app-field-error-display>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">                
                <app-field-error-display 
                    [displayError]="isFieldValid('password')" 
                    errorMsg="Please enter your Password">
                </app-field-error-display>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!userLogin.valid"><i class="fa fa-sign-in"></i> Log in</button>
            </div>
        </form>
    </div>    
  </div>
</div>
