<div id="top">
    <div class="container">
        <div class="col-md-12 animated fadeInDown" data-animate="fadeInDown">
            <ul class="menu">
                <li><a href="#" routerLink="/login">Login/Logout</a>
                </li>
                <li><a routerLink="/account"><i class="fa fa-user"></i> My account</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- *** NAVBAR ***
 _________________________________________________________ -->

 <div class="navbar navbar-default yamm" role="navigation" id="navbar">
  <div class="container">
      <div class="navbar-header">

          <a class="navbar-brand home" routerLink="" data-animate-hover="bounce">
              <img src="assets/images/logo.png" alt="logo" class="hidden-xs">
              <img src="assets/images/logo-small.png" alt="logo" class="visible-xs"><span class="sr-only">go to homepage</span>
          </a>
          <div class="navbar-buttons">
              <a class="btn btn-default navbar-toggle" routerLink="/cart">
                  <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
              </a>
          </div>
      </div>
      <!--/.navbar-header -->

      
      <!--/.nav-collapse -->

      <div class="navbar-buttons">

          <div class="navbar-collapse collapse right" id="basket-overview">
              <a href="#" routerLink="/cart" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">{{currentOfCartItems}} items in cart</span></a>
          </div>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cart">Cart</a>
          </li> -->
          <!--/.nav-collapse -->

      </div>
      <!--/.nav-collapse -->

  </div>
  <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->